header{
    background-color: $darker-primary-color;
}
nav{
    //background-color: lightcoral;
    width: 95%;
    display: flex;
    padding: 5px;
    margin: 0 auto;
    justify-content:space-between;
    align-items: center;

    *{
        text-decoration: none;
    }
    ul{
        display: none;
    }
    li{
        display: inline-block;
    }
}

.burger-nav{
    padding: 5px;
    border-radius: 5%;
    //background-color: lightgreen;
    display: inline-block;
    .bar{
        //background-color: black;
        background-color: $primary-color;
        width: 50px;
        height: 8px;
        
    }
    :nth-child(2){
        margin: 7px 0;
    }
}