.projects-list{
    height: 100vh;
    background-color: $secondary-color;

    .category-title{
        color: $primary-color;
        text-align: center;
        padding: 5px;
    }
}

.project-container{
    //background-color: $secondary-color;
    padding: 10px;

    width: 90%;
    margin: 0 auto;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;

    .project-title{
        text-align: center;
    }

    section{
        width: 100%;
    }
    section + section{
        background-color: #272525;
    }
    p{
        width: 95%;
        margin: 0 auto;
    }

    iframe{
        //background-color: yellowgreen;
        display: block;
        border: none;
        width: 90%;
        padding: 10px;
        margin: 0 auto;
        height: 90%;
    }
}