@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;    
    color: white;
}

$primary-color: #2B2929;
$secondary-color: #D3FBD8;

body,html{
    height: 100%;
}


@import './partials/header';
@import './partials/main';
@import './partials/footer';
@import './partials/mediaQ';
